.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe .CompositeField {
    overflow: hidden; *zoom: 1;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe #IframeURL_Holder .middleColumn {
    background: none;
    border: medium none;
    margin: 13px 0 0 0;
    width: auto;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe {
    overflow: hidden;
    margin-top: 20px;
    border: none;
    background: none;
    opacity: 0.8;
    cursor: hand;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe .ui-button-text {
    margin-left: 10px;
    padding-top: 10px;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe .btn-icon-addMedia {
    width: 20px; height: 20px;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe:hover,
.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe:active {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe.ui-state-disabled,
.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe.ui-state-disabled:hover,
.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe button.add-iframe.ui-state-disabled:active {
    opacity: 0.35;
}

.htmleditorfield-dialog #MediaFormInsertMediaTabs_FromanIframe .loading button.add-iframe .ui-icon {
    background-image: url(../../framework/admin/images/throbber.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.htmleditorfield-dialog .htmleditorfield-mediaform .ss-assetuploadfield .ss-htmleditorfield-file.loading {
    height: 100px;
    background-image: url(../../framework/admin/images/spinner.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    .htmleditorfield-dialog .htmleditorfield-mediaform .ss-assetuploadfield .ss-htmleditorfield-file.loading {
        background-image: url(../../framework/admin/images/spinner@2x.gif);
        background-size: 43px 43px;
    }
}
